.shop-grid-container{
    display:grid;
    grid-template-columns:1fr  1fr 1fr  ;
    column-gap:10px;
    row-gap:20px;
    padding:40px;


}

.shop-grid{
    padding:25px;
}

.img-shop-grid{
    
    width:90%;
    height:60%;
    object-fit:contain;
    position:relative;
}

.testing{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;

}

.img-shop-grid img{
    max-width:100%;
     
}

.details-grid{
    margin-top:35px;
    width:90%;
   
}

.details-price-head{
    display:flex;
    justify-content: space-between;

    
}

.details-color{
    margin-top:-20px;
    
}

.details-color button{
    width:20px;
    height:20px;
    border-radius:50%;
    margin-right:-12px;

}

.about-collection{
    text-align:center;
    padding:40px;
}

.button-next-page{
    display:flex;
    justify-content:center;
    margin-top:20px;
    margin-bottom:30px;
}

.button-next-page button{
    width:45px;
    height:auto;
    border:0.5px solid  #b5c0c8;
    background-color:white;
    color:var(--text-color);
    font-size:13px;
    margin-right:-10px;
}

.button-next-page button:hover{
    background-color:#b5c0c8;
}

